<div id="pagination">
    <ul id="pagination-flickr">
    {% if comments.has_previous %}
        <li class="previous"><a href="?did={{ did }}&page={{ comments.previous_page_number }}">&laquo;Prev</a></li>
    {% else %}
        <li class="previous-off">&laquo;Prev</li>
    {% endif %}
     <li class="active">{{ comments.number }}/{{ comments.paginator.num_pages }}</li>
    {% if comments.has_next %}
        <li class="next"><a href="?did={{ did }}&page={{ comments.next_page_number }}">Next &raquo;</a></li>
    {% else %}
        <li class="next-off">Next &raquo;</li>
    {% endif %}
   </ul>
</div>